In [23]:
import pandas as pd 
import numpy as np
import warnings

## Importing dataset

In [12]:
df=pd.read_csv("Downloads/datset - Sheet1.csv")

In [13]:
df

,OrderID,Date,Region,CustomerName,Product,Quantity,UnitPrice,TotalSales,PaymentMethod
0,1001,2023-01-15,North,Alice Johnson,Laptop,2.0,700.0,1400.0,Credit Card
1,1002,2023-01-16,South,Rahul Mehta,Mobile Phone,5.0,300.0,1500.0,UPI
2,1003,2023-01-17,East,Fatima Noor,Headphones,10.0,50.0,500.0,Debit Card
3,1004,2023-01-18,West,NaN,Laptop,1.0,720.0,720.0,Credit Card
4,1005,2023-01-19,North,Zoe Carter,Mobile Phone,3.0,NaN,NaN,UPI
5,1006,2023-01-20,South,Ankit Tiwari,Keyboard,4.0,100.0,400.0,Wallet
6,1007,2023-01-21,East,Sarah Lee,Monitor,2.0,200.0,400.0,Credit Card
7,1008,2023-01-22,West,Daniel Smith,Laptop,NaN,680.0,NaN,Credit Card
8,1009,2023-01-23,North,Priya Nair,Mobile Phone,4.0,295.0,1180.0,UPI
9,1010,2023-01-24,South,Ramesh Iyer,Headphones,6.0,55.0,330.0,Debit Card
10,1011,2023-01-25,East,Maria Gonzalez,Laptop,1.0,710.0,710.0,Wallet
11,1012,2023-01-26,West,NaN,Monitor,2.0,210.0,420.0,Credit Card
12,1013,2023-01-27,North,Zoe Carter,Keyboard,3.0,95.0,285.0,Credit Card
13,1014,2023-01-28,South,Rahul Mehta,Laptop,2.0,700.0,1400.0,UPI
14,1015,2023-01-29,East,Fatima Noor,Mobile Phone,1.0,290.0,290.0,Wallet
15,1016,2023-01-30,West,Alice Johnson,Monitor,3.0,195.0,585.0,Credit Card
16,1017,2023-01-31,North,Daniel Smith,Tablet,2.0,450.0,900.0,UPI
17,1018,2023-02-01,South,Ankit Tiwari,Smart Watch,1.0,200.0,200.0,Wallet
18,1019,2023-02-02,East,Sarah Lee,Mobile Phone,2.0,310.0,620.0,UPI
19,1020,2023-02-03,West,Maria Gonzalez,Laptop,1.0,NaN,700.0,Credit Card

## DATA CLEANING

In [14]:
print(df.isnull().sum())

OrderID          0
Date             0
Region           0
CustomerName     2
Product          0
Quantity         1
UnitPrice        2
TotalSales       2
PaymentMethod    0
dtype: int64

In [15]:
df['Date'] = pd.to_datetime(df['Date'])

In [16]:
df['CustomerName'] = df['CustomerName'].fillna('Unknown')

In [17]:
df.loc[df['UnitPrice'].isna() & df['TotalSales'].notna() & df['Quantity'].notna(), 'UnitPrice'] = \
    df['TotalSales'] / df['Quantity']

In [18]:
df.loc[df['TotalSales'].isna() & df['UnitPrice'].notna() & df['Quantity'].notna(), 'TotalSales'] = \
    df['UnitPrice'] * df['Quantity']

In [19]:
df.loc[df['Quantity'].isna() & df['TotalSales'].notna() & df['UnitPrice'].notna(), 'Quantity'] = \
    df['TotalSales'] / df['UnitPrice']

In [20]:
print(df.isnull().sum())

OrderID          0
Date             0
Region           0
CustomerName     0
Product          0
Quantity         1
UnitPrice        1
TotalSales       2
PaymentMethod    0
dtype: int64

In [21]:
df

,OrderID,Date,Region,CustomerName,Product,Quantity,UnitPrice,TotalSales,PaymentMethod
0,1001,2023-01-15,North,Alice Johnson,Laptop,2.0,700.0,1400.0,Credit Card
1,1002,2023-01-16,South,Rahul Mehta,Mobile Phone,5.0,300.0,1500.0,UPI
2,1003,2023-01-17,East,Fatima Noor,Headphones,10.0,50.0,500.0,Debit Card
3,1004,2023-01-18,West,Unknown,Laptop,1.0,720.0,720.0,Credit Card
4,1005,2023-01-19,North,Zoe Carter,Mobile Phone,3.0,NaN,NaN,UPI
5,1006,2023-01-20,South,Ankit Tiwari,Keyboard,4.0,100.0,400.0,Wallet
6,1007,2023-01-21,East,Sarah Lee,Monitor,2.0,200.0,400.0,Credit Card
7,1008,2023-01-22,West,Daniel Smith,Laptop,NaN,680.0,NaN,Credit Card
8,1009,2023-01-23,North,Priya Nair,Mobile Phone,4.0,295.0,1180.0,UPI
9,1010,2023-01-24,South,Ramesh Iyer,Headphones,6.0,55.0,330.0,Debit Card
10,1011,2023-01-25,East,Maria Gonzalez,Laptop,1.0,710.0,710.0,Wallet
11,1012,2023-01-26,West,Unknown,Monitor,2.0,210.0,420.0,Credit Card
12,1013,2023-01-27,North,Zoe Carter,Keyboard,3.0,95.0,285.0,Credit Card
13,1014,2023-01-28,South,Rahul Mehta,Laptop,2.0,700.0,1400.0,UPI
14,1015,2023-01-29,East,Fatima Noor,Mobile Phone,1.0,290.0,290.0,Wallet
15,1016,2023-01-30,West,Alice Johnson,Monitor,3.0,195.0,585.0,Credit Card
16,1017,2023-01-31,North,Daniel Smith,Tablet,2.0,450.0,900.0,UPI
17,1018,2023-02-01,South,Ankit Tiwari,Smart Watch,1.0,200.0,200.0,Wallet
18,1019,2023-02-02,East,Sarah Lee,Mobile Phone,2.0,310.0,620.0,UPI
19,1020,2023-02-03,West,Maria Gonzalez,Laptop,1.0,700.0,700.0,Credit Card

In [25]:
warnings.filterwarnings("ignore")
df['Quantity'].fillna(df['Quantity'].median(), inplace=True)
df['UnitPrice'].fillna(df['UnitPrice'].median(), inplace=True)
df['TotalSales'].fillna(df['TotalSales'].median(), inplace=True)

In [27]:
print(df.isnull().sum())

OrderID          0
Date             0
Region           0
CustomerName     0
Product          0
Quantity         0
UnitPrice        0
TotalSales       0
PaymentMethod    0
dtype: int64

## Calcuations

### Sum of sales by region

In [31]:
sales_by_region = df.groupby('Region')['TotalSales'].sum().reset_index()
print(sales_by_region)

  Region  TotalSales
0   East      2520.0
1  North      4367.5
2  South      3830.0
3   West      3027.5

### Average sales per product

In [32]:
average_sales_by_product = df.groupby('Product')['TotalSales'].mean().reset_index()
print(average_sales_by_product)

        Product  TotalSales
0    Headphones  415.000000
1      Keyboard  342.500000
2        Laptop  922.083333
3  Mobile Phone  838.500000
4       Monitor  468.333333
5   Smart Watch  200.000000
6        Tablet  900.000000

### Highest & lowest selling products

In [53]:
highest_selling = df.groupby('Product')['Quantity'].sum().reset_index().iloc[0]
print(highest_selling)

Product     Headphones
Quantity          16.0
Name: 0, dtype: object

In [54]:
lowest_selling =df.groupby('Product')['Quantity'].sum().reset_index().iloc[-1]
print(lowest_selling)

Product     Tablet
Quantity       2.0
Name: 6, dtype: object

### Use NumPy to calculate mean, median, standard deviation of numerical fields.

#### Mean

In [56]:
print("Mean:\n", df.mean(numeric_only=True))

Mean:
 OrderID       1010.50
Quantity         2.85
UnitPrice      362.75
TotalSales     687.25
dtype: float64

#### Meadian

In [57]:
print("\nMedian:\n", df.median(numeric_only=True))

Median:
 OrderID       1010.5
Quantity         2.0
UnitPrice      295.0
TotalSales     602.5
dtype: float64

#### Standard Deviation

In [58]:
print("\nStandard Deviation:\n", df.std(numeric_only=True))

Standard Deviation:
 OrderID         5.916080
Quantity        2.183069
UnitPrice     246.723130
TotalSales    394.162086
dtype: float64